@CHARSET "ISO-8859-1";

#conteudo{
	background: green;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

#banner{
	width: 80%;
	height: 250px;
	margin-left: 125px;
	position: relative;
	top: 20px;
	padding-left: 15px;
	padding-top: 7px;
	border-radius: 20px;
}

#menuBar{
	background: yellow;
	position: relative;
	margin-left: 125px;
	width: 80%;
	height: 50px;
	top: 26px;
	padding-left: 15px;
	padding-top: 7px;
	border-radius: 27px;
	
}

#propaganda{
	background: red;
	position: relative;
	width: 10%;
	left: 1206px;
	height: 280px;
	padding-left: 8px;
	padding-top: 7px;
	top: 30px;
	border-radius: 10px;
}

#radio{
	position: relative;
	width: 10%;
	height: 280px;
	top: -250px;
	padding-left: 8px;
	padding-top: 7px;
	border-radius: 10px;
}

#corpo{
	background: lime;
	height: auto;
	width: 75%;
	position: absolute;
	margin-left: 150px;
	top: 345px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 10px;
}
#footer{
	background: silver;
	position: absolute;
	height: auto;
	width: 78%;
	padding-left: 15px;
	margin-left: 139px;
	margin-bottom: 10px;
	top: 650px;
	border-radius: 10px;
}

